.application-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 2rem;
          margin-bottom: 10rem;
          .application {
              padding-top: 2rem;
              display: flex;
              width: 80%;
              background-color: $body-color;
              box-shadow: $shadow-strong; 
              justify-content: center;
              .application-form {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;
                  margin-top: 1rem;
                  .application-form-wrapper {
                    .application-form {
                              gap: 0.5rem;
                              color: $darker-text-color;
                              .application-label {
                                        color: $accent-color;
                                        font-size: x-large;
                                        font-weight: 700;                                        
                              }
                              .application-inputs {
                                        padding-top: 0.5rem;
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: center;
                                        gap: 1.5rem;
                                        width: 500px;
                                        padding-bottom: 2rem;
                                        .application-text-input{
                                                  font-size: large;
                                                  height: 30px;
                                        }
                              }
                    }
                  }
              }         
          }
}