/////////// Imports ///////////
@import "vendors/slick";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/////////// Utils ///////////
@import "utils/variables";
@import "utils/mixins";

/////////// Base ///////////
// @import "base/base";
// @import "base/typography";

/////////// Components ///////////
@import "components/add-edit-modal";
@import "components/buttons";
// @import "components/navbar";

/////////// Layouts ///////////
@import "layouts/header";
@import "layouts/dashboard-header";
// @import "layouts/common";
// @import "layouts/grid";

/////////// Pages ///////////
// Admin
@import "pages/admin/admin-news";
// User
// Main
@import "pages/home";
@import "pages/team";
@import "pages/raid";
@import "pages/application";
@import "pages/login";
@import "pages/dashboard";
@import "pages/notFound";

/////////// Scrollbar ///////////
::-webkit-scrollbar {
          width: 8px;
          background-color: #333;
      }
      ::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          border-radius: 10px;
          border: 2px solid #333;
      }
      ::-webkit-scrollbar-button {
          display: none;
}

/////////// Body ///////////
body {
          font-family: 'Roboto', sans-serif;
          color: $main-text-color;
          background-color: $main-body-color;
}