$main-body-color: #121212;
$body-color: #1A1A1A;
$color-invisible: #00000000;
$light-body-color: #DDD;
$main-text-color: #FFF;
$darker-text-color: #818080;
$accent-color: #4CAF50;
$button-color: #294D33;
$button-text-color: #FAF9F6;
$button-hover-color: #396641;
$button-delete-color: #8B271A;
$button-delete-hover-color: #9B2D20;
$link-decoration: none;
$link-hover-decoration: none;
$shadow-strong: 0 3px 12px 1px #000;
$shadow-light: 0 0px 6px 0px #000;